name: github action start

on:
  push:
    branches:
      - main

jobs:
  my-deploy-job:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout

      - name: hell world
        run: echo "hell world"
